label {
    min-width: 80px;
}

.container {
    width: 500px;
    margin: auto;
}

body {
    padding: 10px;
}

.remove_item {
    margin-left: 5px;;
}

.panel-body {
    padding: 0 15px;;
}

.item-name {
    vertical-align: middle;
    line-height: 34px;
}

.btn-default {
    min-width: 34px;
}

.list-group input[type=checkbox] {
    margin: 0 10px 0 0;
}

form {
    margin: 15px 0;
}

.file-input-wrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
    outline: 0;
}

.file-input-name {
    margin-left: 8px;
}